{% extends 'refer/base.html' %}{%block title%} Reset {% endblock title %}
<a></a>
{%load crispy_forms_tags%}{%load static%}{%block dashboard%}
<div class="row container">
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
              <div> 
                  <div>
                    <h3><b>Password Reset</b><h3>
                    <hr>
                  </div>
                  <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                      {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                      <button class="btn btn-secondary" type="submit">Reset Password</button>
                    </div>
                  </form>
              </div>
              
          </div>
      </div>
  </div>
    <div class="col-md-6">
    </div>
</div>
{%endblock dashboard%}

